/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800]   is where our normal styles apply
1800px + :      Big desktop
*/
/*
$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

1em = 16px
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background: #081329;
  font-family: "Open Sans", sans-serif; }
  @media (min-width: 112.5em) {
    body {
      display: none; } }

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px; }
  @media (max-width: 75em) {
    .container {
      padding-left: 50px; } }

li, a {
  color: #A1A6B1;
  font-weight: normal;
  font-size: 16px;
  text-decoration: none; }

.u-center-text {
  text-align: center !important;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.u-margin-bottom-small {
  margin-bottom: 1rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 2rem !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.btn__nav {
  padding: 8px 24px;
  font-weight: 600;
  font-size: 14px;
  background: #fff;
  border: none;
  color: #3F37C9;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.3s ease 0s; }
  .btn__nav:hover {
    background: #3F37C9;
    color: #fff;
    transition: .5s; }

.btn__header {
  display: flex;
  grid-gap: 8px;
  align-items: center;
  padding: 25px 111px;
  border: 1px solid #F5F5FC;
  background: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.30s ease 0s; }
  .btn__header:hover {
    background: #3F37C9;
    border: 1px solid #3F37C9;
    transition: .5s; }

.btn__header p {
  color: #fff;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px; }

.footer {
  padding: 3.5rem 0;
  color: #fff;
  font-size: 16px; }
  .footer__main {
    display: flex;
    flex-direction: column;
    grid-gap: 25px; }
  .footer__sponsors {
    display: flex;
    grid-gap: 10px; }
    .footer__sponsors__texts span {
      font-weight: bold; }
    .footer__sponsors__texts p {
      font-weight: 100; }
  .footer__nav {
    display: flex;
    align-items: flex-start;
    grid-gap: 30px;
    list-style: none; }
    .footer__navli, .footer__nav a:hover {
      color: #081f6b; }
  .footer__end {
    display: flex;
    justify-content: space-between;
    align-items: flex-end; }
  .footer__icon {
    display: flex;
    grid-gap: 15px; }
    .footer__iconimg:hover {
      color: #081f6b; }

header {
  padding: 8.5rem 0;
  background-image: url("../images/Group 1 (1).png");
  background-size: 700px;
  background-repeat: no-repeat;
  background-position: right top;
  display: flex;
  align-items: center; }
  @media (min-width: 112.5em) {
    header {
      height: 50vh;
      background: none; } }

.header__text-box {
  margin-bottom: 40px; }

.header__text-box h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 73px;
  line-height: 99px;
  color: #fff;
  margin-bottom: 10px; }

.header__text-box p {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 33px;
  color: #A1A6B1; }

.header__btn-box {
  display: flex;
  grid-gap: 10px; }

.colored {
  background: #3F37C9;
  border: none; }
  .colored:hover {
    background: none;
    border: 1px solid #F5F5FC; }

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: space-between;
  min-height: 8vh; }
  .navigation__links {
    display: flex;
    flex-direction: row;
    list-style: none;
    overflow: hidden;
    transition: all 0.3s linear; }
  .navigation__links li {
    padding: 0px 20px; }
  .navigation__links li a {
    transition: all 0.3s ease 0s;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 3px;
    font-size: 14px; }
  .navigation__links li a:hover {
    color: #081f6b;
    transition: .5s; }
  .navigation__icons a {
    display: inline-block;
    padding: 0px 4px; }
  .navigation__logo {
    cursor: pointer; }
  .navigation__burger {
    display: none;
    cursor: pointer; }

.community {
  background: #fff;
  padding: 4rem 0;
  display: flex;
  align-items: center; }
  .community__main {
    display: flex;
    gap: 40px; }
  .community__text h3 {
    font-size: 36px;
    font-weight: 600;
    line-height: 49px; }
  .community__media {
    display: flex; }
  .community__img {
    background: #D9D7F4;
    margin: 0px 64px;
    border-radius: 50%;
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center; }
