// Color
$default-body-color: #081329;

$default-color: #A1A6B1; 

$color-white: #fff;

$nav-hover: #081f6b;

// Font
$default-font-family: 'Open Sans', sans-serif; 

$default-font-size: 16px;

$default-mid-size: 20px; 

$hero-font: 73px; 

$mid-font: 65px; 

$btn-font: 18px; 

$hero-paragraph: 24px; 

$font-weight-sm: 100;

$font-style-normal: normal;

$font-weight-sml: 300;

$font-weight-m: 600;

$font-weight-md: 700;

$font-weight-l: 800; 

$font-weight-lg: 900;

$bold: bold; 

// Buttons
$btn-color: #3F37C9;

// Borders 
$hero-btn: 8px;
$hero-btn-bdr: #F5F5FC;

$nav-btn: 3px;