*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: $default-body-color;
    font-family: $default-font-family;
}

.container {
    width: 90vw;
    margin: 0 auto;
    padding: 0 15px;

    @include respond(tab-land) {
        width: 100vw;
        padding: 0 40px;
    }

    @include respond(big-desktop) {
        width: 60vw;
    }

}

li, a{
    color: $default-color;
    font-weight: $font-style-normal;
    font-size: $default-font-size;
    text-decoration: none;
}
