*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: $default-body-color;
    font-family: $default-font-family;

    @include respond(big-desktop) {
        display: none;
    }
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;

    @include respond(tab-land) {
        padding-left: 50px;
    }

}

li, a{
    color: $default-color;
    font-weight: $font-style-normal;
    font-size: $default-font-size;
    text-decoration: none;
}
